/* * {
    margin: 0; */
}
.banner-section{
    box-sizing: border-box;
    position: absolute;
    width: 1600px;
    height: 800px;
    left: 1600px;
    top: 800px;
    background: url(flat-lay-abstract-composition-with-innovation-elements.jpg);
    border: 1px solid #000000;
    transform: rotate(-180deg);

}
h2{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
     text-align: right;
     bottom: 364px;
     right: 230px;
}
.rahim{
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}
.button{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 335px;
    top: 100px;
    background-color: gold;
}